Id: E3C64309-3175-4740-8802-18118001602B
Name: YouTube Game Search
Author: Savvas Dalkitsis
Version: $(Version)
Module: YouTubeSearch.dll
Type: GenericPlugin
Description: Adds a right-click menu option to search YouTube gameplay and trailer videos.
Links:
  - Name: Github
    Url: https://github.com/savvasdalkitsis/playnite-youtube-search
